extends layout

block content
  h1= title
  p Welcome to #{title}
  img.image(id="pizza" src='https://www.cicis.com/media/1243/pizza_adven_zestypepperoni.png')
  script
    include ../scripts/script.js

